<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="layouts/fragments/head :: headFragment"></head>
	<header th:replace="layouts/fragments/header :: headerFragment"></header>
	<body>
		<div class="container">
			<!-- Search Widget -->
			<div class="card my-4">
				<h5 class="card-header">검색</h5>
				<div class="card-body">
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="검색어 입력..."> <span
							class="input-group-btn">
							<button class="btn btn-secondary" type="button">Go!</button>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8" layout:fragment="content"></div>
				<!-- Sidebar Widgets Column -->
				<div class="col-md-4">
					<!-- Categories Widget -->
					<div class="card my-4">
						<h5 class="card-header">카테고리</h5>
						<div class="card-body">
							<div class="row">
								<ul class="list-unstyled mb-0 pl-1">
<!-- 									<li><a class="my-1 font-weight-bold" href="/blog/post/list">ALL</a></li> -->
									<li th:each="category : ${categoryList}">
										<a class="my-1 font-weight-bold" th:href="@{/blog/post/list(blogPostCategorySeq=${category.blogPostCategorySeq})}" 
										th:text="|${category.name} (${category.blogPosts.size()})|"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
		<footer th:replace="layouts/fragments/footer :: footerFragment"></footer>
		<script type="text/javascript">
			loadProgressBar();	//axios progress bar
		</script>
		<th:block layout:fragment="bodyScript"></th:block>
	</body>
</html>