<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="headFragment">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/axios/nprogress.css" />
    <link rel="stylesheet" type="text/css" href="/css/blog-post.css">
    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
    <th:block layout:fragment="css"></th:block>
    <script type="text/javascript" src="/js/jquery-3.4.1.js"></script> <!-- Jquery 3.4.1 -->
    <script type="text/javascript" src="/js/bootstrap/bootstrap.bundle.min.js"></script> <!-- bootstrap -->
    <script type="text/javascript" src="/js/vue-2.5.16.js"></script> <!-- vue.js 2.5.16 -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script type="text/javascript" src="/js/axios-0.19.2.min.js"></script> <!-- axios-0.19.2 -->
    <script type="text/javascript" src="/js/axios/nprogress.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script> <!-- moment -->
    <th:block layout:fragment="script"></th:block>
</head>

</html>