<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/no-side-bar-layout}">
	<th:block layout:fragment="seo">
		<title th:text="${blogPost.subject}"></title>
		<meta name="keywords" content="springBoot, java, docker, ubuntu, vue.js, thymeleaf, gcp" />
		<meta name="title" th:content="${blogPost.subject}" />
		<meta name="description" th:content="${blogPost.description}" />
		<meta name="robots" content="index,follow" />
	</th:block>
	<div layout:fragment="content">
		<!-- Post Content Column -->
		<div class="">
			<!-- Title -->
			<h1 class="mt-4" th:text="${blogPost.subject}"></h1>
			<!-- Author -->
			<p class="lead">
				by <a href="javascript:;" th:text="${blogPost.regUser}"></a>
			</p>
			<hr>
			<!-- Date/Time -->
			<p th:text="${#dates.format(blogPost.regDate, 'yyyy. MM. dd')}"></p>
			<hr>
			<!-- Post Content -->
			<pre class="detail-contents" th:utext="${blogPost.contents}">
			</pre>
	
<!-- 			<!-- Comments Form --> 
<!-- 			<div class="card my-4"> -->
<!-- 				<h5 class="card-header">Leave a Comment:</h5> -->
<!-- 				<div class="card-body"> -->
<!-- 					<form> -->
<!-- 						<div class="form-group"> -->
<!-- 							<textarea class="form-control" rows="3"></textarea> -->
<!-- 						</div> -->
<!-- 						<button type="submit" class="btn btn-primary">Submit</button> -->
<!-- 					</form> -->
<!-- 				</div> -->
<!-- 			</div> -->
	
<!-- 			<!-- Single Comment -->
<!-- 			<div class="media mb-4"> -->
<!-- 				<img class="d-flex mr-3 rounded-circle" -->
<!-- 					src="http://placehold.it/50x50" alt=""> -->
<!-- 				<div class="media-body"> -->
<!-- 					<h5 class="mt-0">Commenter Name</h5> -->
<!-- 					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus -->
<!-- 					scelerisque ante sollicitudin. Cras purus odio, vestibulum in -->
<!-- 					vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi -->
<!-- 					vulputate fringilla. Donec lacinia congue felis in faucibus. -->
<!-- 				</div> -->
<!-- 			</div> -->
	
<!-- 			<!-- Comment with nested comments -->
<!-- 			<div class="media mb-4"> -->
<!-- 				<img class="d-flex mr-3 rounded-circle" -->
<!-- 					src="http://placehold.it/50x50" alt=""> -->
<!-- 				<div class="media-body"> -->
<!-- 					<h5 class="mt-0">Commenter Name</h5> -->
<!-- 					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus -->
<!-- 					scelerisque ante sollicitudin. Cras purus odio, vestibulum in -->
<!-- 					vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi -->
<!-- 					vulputate fringilla. Donec lacinia congue felis in faucibus. -->
	
<!-- 					<div class="media mt-4"> -->
<!-- 						<img class="d-flex mr-3 rounded-circle" -->
<!-- 							src="http://placehold.it/50x50" alt=""> -->
<!-- 						<div class="media-body"> -->
<!-- 							<h5 class="mt-0">Commenter Name</h5> -->
<!-- 							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus -->
<!-- 							scelerisque ante sollicitudin. Cras purus odio, vestibulum in -->
<!-- 							vulputate at, tempus viverra turpis. Fusce condimentum nunc ac -->
<!-- 							nisi vulputate fringilla. Donec lacinia congue felis in faucibus. -->
<!-- 						</div> -->
<!-- 					</div> -->
	
<!-- 					<div class="media mt-4"> -->
<!-- 						<img class="d-flex mr-3 rounded-circle" -->
<!-- 							src="http://placehold.it/50x50" alt=""> -->
<!-- 						<div class="media-body"> -->
<!-- 							<h5 class="mt-0">Commenter Name</h5> -->
<!-- 							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus -->
<!-- 							scelerisque ante sollicitudin. Cras purus odio, vestibulum in -->
<!-- 							vulputate at, tempus viverra turpis. Fusce condimentum nunc ac -->
<!-- 							nisi vulputate fringilla. Donec lacinia congue felis in faucibus. -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
		</div>
		<div class="mb-2 btn-wrap">
			<a href="javascript:;" th:attr="onclick=|goList(${blogPostCategorySeq})|" class="btn btn-primary">목록으로</a>
		</div>
	</div>
	<th:block layout:fragment="bodyScript">
		<script type="text/javascript">
			function goList(categorySeq) {
				var url = '/blog/post/list';
				if (categorySeq) {
					url += '?blogPostCategorySeq=' + categorySeq;
				}
				location.href = url;
			}
		</script>
	</th:block>
</html>
