<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default-layout">
	<th:block layout:fragment="css">
	</th:block>
	<th:block layout:fragment="script">
	</th:block>
	<div layout:fragment="content">
		<div id="postList">
			<div v-for="post in list" class="card mb-4 my-4">
				<div class="card-body">
					<h2 class="card-title">{{ post.subject }}</h2>
					<p class="card-text">{{ post.contents }}</p>
					<a href="javascript:;" v-on:click="readMore(post.blogPostSeq);" class="btn btn-primary">Read More &rarr;</a>
				</div>
				<div class="card-footer text-muted">
					{{ post.regDate | dateFormat}} by <a href="#">{{ post.regUser }}</a>
				</div>
			</div>
			<!-- Pagination -->
			<ul class="pagination justify-content-center mb-4">
				<li class="page-item" v-bind:class="{disabled : first }"><a class="page-link" v-on:click="getPrevPage();">&larr;Older</a></li>
				<li class="page-item" v-bind:class="{disabled : last }"><a class="page-link" v-on:click="getNextPage();">Newer&rarr;</a></li>
			</ul>
		</div>	
	</div>
	<th:block layout:fragment="bodyScript">
		<script type="text/javascript">
			var postList = new Vue({
			  	el: '#postList',
			  	data: {
			  		list: [],
			  		baseUrl: '/blog/post/axios-list',
			  		page: 0,
			  		size: 3,
			  		last: false,
					first: true
			  	},
			  	filters: {
			  		dateFormat: function(value) {
			  			if (!value) {
			  				return '';
			  			}
			  			return moment(value).format("YYYY .MM .DD");
			  		}
			  	},
			  	methods: {
			  		getList: function() {
			  			 var vm = this;
			  			 axios.get(this.baseUrl + '?page=' + this.page + '&size=' + this.size)
			  	        .then(function(response) {
			  	        	vm.list = response.data.content;
			  	        	vm.page = response.data.number;
			  	        	vm.last = response.data.last;
			  	        	vm.first = response.data.first;
							console.log(response.data);
			  	        })
			  	        .catch(function(e) {
			  	        	console.warn('error!!! :' + e);
			  	        });	
			  		},
			  		getNextPage: function() {
			  			this.page += 1;
			  			this.getList();
			  		},
			  		getPrevPage: function() {
			  			this.page -= 1;
			  			this.getList();
			  		},
			  		readMore: function(blogPostSeq) {
			  			location.href = '/blog/post/detail/' + blogPostSeq;
			  		}
			  	},
		  	 	created: function() {
			  	    this.getList();
			  	}
			});
		</script>
	</th:block>
</html>