<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/default-layout">
	<th:block layout:fragment="seo">
		<meta name="keywords" content="SpringBoot, java, docker, ubuntu, vue.js, thymeleaf, gcp" />
		<meta name="title" content="infitry 개발 블로그" />
		<meta name="description" content="SpringBoot, java, docker, ubuntu, vue.js, thymeleaf, gcp" />
		<meta name="robots" content="index,follow" />
	</th:block>
	<th:block layout:fragment="css">
	</th:block>
	<th:block layout:fragment="script">
	</th:block>
	<div layout:fragment="content">
		<input type="hidden" id="blogPostCategorySeq" th:value="${blogPostCategorySeq}"/>
		<div id="postList">
			<post-component></post-component><!-- component location -->
		</div>	
	</div>
	<th:block layout:fragment="bodyScript">
		<script type="text/x-template" id="postTemplate">
			<div>
				<div class="list-null" id="listNull" style="display: none;">
					<p>자료가 존재하지 않습니다.</p>
				</div>
				<div v-for="post in list" class="card mb-4 my-4">
					<div class="card-body">
						<h2 class="card-title">{{ post.subject }}</h2>
						<p class="card-text post-list-content">{{ post.description }}</p>
						<a href="javascript:;" v-on:click="readMore(post.blogPostSeq);" class="btn btn-primary">상세보기 &rarr;</a>
					</div>
					<div class="card-footer text-muted">
						{{ post.regDate | dateFormat}} by <a href="#">{{ post.regUser }}</a>
					</div>
				</div>
				<!-- Pagination -->
				<ul id="pagination" class="pagination justify-content-center mb-4" style="display: none;">
					<li class="page-item" v-bind:class="{disabled : first }"><a class="page-link" v-on:click="getPrevPage();">&larr;Older</a></li>
					<li class="page-item" v-bind:class="{disabled : last }"><a class="page-link" v-on:click="getNextPage();">Newer&rarr;</a></li>
				</ul>
			</div>
		</script>
		<script type="text/javascript" src="/js/component/post-component.js"></script> <!-- post component -->
		<script type="text/javascript">
			new Vue({
			  	el: '#postList'
			});
		</script>
	</th:block>
</html>