<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
	<th:block layout:fragment="seo">
		<title>infitry 개발 블로그</title>
		<meta name="keywords" content="infitry, Infitry, SpringBoot, java, docker, ubuntu, vue.js, thymeleaf, gcp" />
		<meta name="title" content="infitry 개발 블로그" />
		<meta name="description" content="infitry, Infitry, SpringBoot, java, docker, ubuntu, vue.js, thymeleaf, gcp" />
		<meta name="robots" content="index,follow" />
	</th:block>
	<div layout:fragment="content">
		<div id="postList" class="card my-4">
			<post-component v-bind:size="size"></post-component><!-- component location -->
		</div>
		
		<div id="commentList" class="card my-4">
			<h5 class="card-header">서버 구조</h5>
			<div class="card-body">
				<img class="server-achi" src="/images/server_achi.png" />
<!-- 				<div class="my-2 font-weight-bold"> -->
<!-- 					<a href="javascript:;" v-on:click="readMore();">오픈 준비중!!</a> -->
<!-- 				</div> -->
			</div>
		</div>
	</div>
	<th:block layout:fragment="bodyScript">
		<!-- post template -->
		<script type="text/x-template" id="postTemplate">
			<div>
				<h5 class="card-header">최근 게시글</h5>
				<div class="card-body">
				<div class="my-2 font-weight-bold" v-for="post in list">
					<a href="javascript:;" v-on:click="readMore(post.blogPostSeq);">{{ post.subject }}</a>
					</div>
				</div>
			</div>
		</script>
		<script type="text/javascript" src="/js/component/post-component.js"></script> <!-- post component -->
		<script type="text/javascript">
			new Vue({
				el: '#postList',
				data: {
					size: 5
				}
			});
		</script>
	</th:block>
</html>