<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/no-side-bar-layout">
	<th:block layout:fragment="seo">
		<title>infitry about</title>
		<meta name="keywords" content="springBoot, java, docker, ubuntu, vue.js, thymeleaf, gcp" />
		<meta name="title" content="infitry 개발 블로그" />
		<meta name="description" content="springBoot, java, docker, ubuntu, vue.js, thymeleaf, gcp" />
		<meta name="robots" content="index,follow" />
	</th:block>
	<th:block layout:fragment="css">
	</th:block>
	<th:block layout:fragment="script">
	</th:block>
	<div layout:fragment="content">
		<div class="" style="font-weight: bold; font-size: 10em; margin: 1em;">
			준비중..
		</div>
	</div>
	<th:block layout:fragment="bodyScript">
		<script type="text/javascript">
		</script>
	</th:block>
</html>
